.venue-details {
  height: 100%;

  .venue-name {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
  }

  .venue-category {
    opacity: 0.65;
    margin-left: 1em;
    font-size: 0.8em;
  }
}
