.venue-details-checkin {
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;

  .checkin-time {
    opacity: 0.5;
  }

  .checkin-details {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
  }

  .checkin-beer-name {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    display: flex;
    justify-content: space-between;
  }

  .checkin-score {
    margin-top: 0.8em;
    display: flex;
    flex-wrap: wrap;
  }

  .checkin-username {
    margin-left: 12px;
  }

  .checkin-comment {
    font-style: italic;
    margin-top: 0.4em;
  }

  .checkin-see-more-button {
    margin-top: 1em;
    width: max-content;
    letter-spacing: 0;
  }
}
