.pub-details-modal {
  padding: 1rem;
  background-color: $white;
  overflow-x: hidden;
  transition: all 500ms $ease-in-quint;
  transform: translateX(var(--pub-details-modal-width));
  height: 100%;
  width: 100%;
}

.ReactModal__Content--after-open .pub-details-modal {
  transform: translateX(0);
}

.ReactModal__Content--before-close .pub-details-modal {
  transition: all 500ms $ease-out-quint;
  transform: translateX(var(--pub-details-modal-width));
}

.pub-details-modal .pub-details-close-button-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
