.beer-details {
  height: 100%;
  padding: 1em;
  overflow: auto;

  .beer-name {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
  }

  .beer-meta {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
  }

  .beer-description {
    font-style: italic;
  }

  .beer-weighted-score {
    display: flex;

    // FIXME - don't rely on other component's class
    .rating {
      margin-left: 0.5em;
    }
  }

  .beer-checkin {
    margin-top: 1em;
    display: flex;
  }

  .beer-checkin-meta {
    margin-left: 1em;
  }

  .beer-checkin-meta-comment {
    font-style: italic;
    display: block;
    padding-top: 0.5em;
  }
}
